.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  /* margin-top: 40vh; */
  font-family: Arial, sans-serif;
}

.timer-display {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.timer-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timer-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.timer-button.start {
  background-color: #4caf50;
}

.timer-button.start:hover {
  background-color: #45a049;
}

.timer-button.stop {
  background-color: #f44336;
}

.timer-button.stop:hover {
  background-color: #d32f2f;
}

.timer-button.reset {
  background-color: #2196f3;
}

.timer-button.reset:hover {
  background-color: #1e88e5;
}
